.user-info {
    width: 100%;
    margin-top: 40px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 6px;
}