.tasbeeh-item {
    width: 100%;
    padding: 1.5rem 1rem;
}

.tasbeeh-item * { font-family: 'Tajawal', sans-serif !important; }

.tasbeeh-item .add-counter {
    opacity: 0;
    color: var(--primary-color);
    font-weight: bold;
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

.new-counter {
	animation: append-animate .3s linear;
}
